.details-card {
  max-width: 700px;
}

.error-message {
  color: #b00020;
}

a {
  word-break: break-all;
}

.mission-img {
  width: 150px; 
  height: 150px;
  object-fit: contain;  
  margin: 0 auto;
  display: block;
}
